@import '../../variables';

.board {
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  // horizontal chiều ngang
  &::-webkit-scrollbar:horizontal {
    height: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $comon-element-bg-color;
    border-radius: 10px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
