@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);

$gap: 10px;

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 15px;
$cart-border-radius: 10px;

$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #ebecf0;
$comon-element-bg-color: rgba(255, 255, 255, 0.24);

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
