@import './variables';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  // chiếm trọn chiều cao của màn hình
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3rem;
  background-color: $board-bg-color;
}
