@import './variables';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  // chiếm trọn chiều cao của màn hình
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $text-color;
  .icon {
    font-size: 14px;
    margin-right: 5px;
  }
}
